<div class="container col-xs-12">
	<div class="cols-xs-10 shifter">
		
<<<<<<< HEAD
		{{#if administrator}}
			<h2>Daily Profits</h2>
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>Day</th> <th>Average Profits</th>
					</tr>
				</thead>
			
				{{#data}}
					<tr>
						<td>{{day}}</td><td>R{{profits}}</td>
					</tr>
				{{/data}}
			</table>
		{{else}}
			<h1>YOU HAVE TO BE ADMIN!</h1>
			<H1>WHAT YOU DOING HERE ANYWAY?!</H1>
		{{/if}}
	</div>
</div>
=======
		<h2>Daily Profits</h2>
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Day</th> <th>Average Profits</th>
				</tr>
			</thead>
		
			{{#data}}
				<tr>
					<td>{{day}}</td><td>R{{profits}}</td>
				</tr>
			{{/data}}
		</table>
	</div>

>>>>>>> 3b95f8960004ffc68e2e655b84bb34e0995bb843
