<<<<<<< HEAD
{{#if administrator}}
	<h1>Edit</h1>

	{{#data}}
	<form action="/categories/update_categories/{{ID}}" method="POST">
		Cat Name: <input type="text" name="cat_name" value="{{cat_name}}">	
		<input type="submit">
	</form>
	{{/data}}
{{else}}
	<h1>YOU HAVE TO BE ADMIN!</h1>
	<H1>WHAT YOU DOING HERE ANYWAY?!</H1>
{{/if}}
=======
<h1>Edit</h1>

{{#data}}
<form action="/categories/update_categories/{{ID}}" method="POST">
	Cat Name: <input type="text" name="cat_name" value="{{cat_name}}">	
	<input type="submit">
</form>
{{/data}}
>>>>>>> 3b95f8960004ffc68e2e655b84bb34e0995bb843
