
{{#if administrator}}
	<h1>Edit</h1>

	{{#data}}
	<form action="/sales_history/update_sales_history/{{id}}" method="POST">
		Day: <input type="text" name="day" value="{{day}}">	
		Date: <input type="date" name="date" value="{{date}}">	
		Stock Item: <input type="text" name="stock_item" value="{{stock_item}}">	
		No Sold: <input type="number" name="no_sold" value="{{no_sold}}">	
		Sales Price: <input type="text" name="sales_price" value="{{sales_price}}">	
		
		<input type="submit">
	</form>
	{{/data}}
{{else}}
	<h1>YOU HAVE TO BE ADMIN!</h1>
<<<<<<< HEAD
{{/if}}
=======
	<H1>WHAT YOU DOING HERE ANYWAY?!</H1>
{{/if}}
>>>>>>> 5f9a6079d290b88f76870bcf1546fa1a445e02d9
>>>>>>> b45b26a7c6f9d8780c970e43ac99371dd5e37bd6
