<<<<<<< HEAD
<<<<<<< HEAD
{{#if administrator}}
	<h1>Edit Supplier</h1>

	{{#data}}
	<form action="/all_suppliers/update_all_suppliers/{{id}}" method="POST">
		Suppliers Name: <input type="text" name="shop" value="{{shop}}">	
		<input type="submit">
	</form>
	{{/data}}
{{else}}
	<h1>YOU HAVE TO BE ADMIN!</h1>
	<H1>WHAT YOU DOING HERE ANYWAY?!</H1>
{{/if}}
=======
<h1>Edit Supplier</h1>

{{#data}}
<form action="/all_suppliers/update_all_suppliers/{{id}}" method="POST">
	Suppliers Name: <input type="text" name="shop" value="{{shop}}">	
	<input type="submit">
</form>
{{/data}}
>>>>>>> 3b95f8960004ffc68e2e655b84bb34e0995bb843
=======
{{#if administrator}}
	<h1>Edit Supplier</h1>

	{{#data}}
	<form action="/all_suppliers/update_all_suppliers/{{id}}" method="POST">
		Suppliers Name: <input type="text" name="shop" value="{{shop}}">	
		<input type="submit">
	</form>
	{{/data}}
{{else}}
	<h1>YOU HAVE TO BE ADMIN!</h1>
	<H1>WHAT YOU DOING HERE ANYWAY?!</H1>
{{/if}}
>>>>>>> 5f9a6079d290b88f76870bcf1546fa1a445e02d9
