<h1>Edit</h1>

{{#data}}
<form action="/sales_history/update_sales_history/{{id}}" method="POST">
	Day: <input type="text" name="day" value="{{day}}">	
	Date: <input type="text" name="date" value="{{date}}">	
	Stock Item: <input type="text" name="stock_item" value="{{stock_item}}">	
	No Sold: <input type="text" name="no_sold" value="{{no_sold}}">	
	Sales Price: <input type="text" name="sales_price" value="{{sales_price}}">	
	Cat Id: <input type="text" name="cat_id" value="{{cat_id}}">	
	<input type="submit">
</form>
{{/data}}